/*.skin-blue .main-header>.navbar {
background-color: #0000FF;
}
.content-wrapper,.right-side {
background-color: white;
}
.skin-blue .main-header .logo {
background-color: #0000FF;
color: white;
}
.skin-blue .main-header .logo:hover {
background-color: black;
}
aside.main-sidebar {
background-color: black !important;
}
.main-header .logo {
font-family: "Georgia", Times, "Times New Roman", serif;
font-weight: bold;
font-size: 15px;
}*/
#text1{
  color: black;
  font-size: 20px;
}
#one,#two,#three,#four {
  color: black;
  font-size: 20px;
}
#ins1, #ins2 {
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.btn-myClass {
    background-color: #000000;
    border: none;
    color: white;
}
.btn-myClass1 {
    background-color: #B2B2FF;
    border: none;
    color: white;
}
.btn-myClass2 {
    background-color: #B2FFB2;
    border: none;
    color: white;
}
.btn-myClass3 {
    background-color: #FFB2B2;
    border: none;
    color: white;
}
.selectize-input { 
  
  font-size: 18px; 
  line-height: 18px;
}
.selectize-dropdown { 
  
  font-size: 18px; 
  line-height: 18px;
}
/*.shiny-text-output {
  color: black;
  font-size: 16px;
 
}*/
#challenge {
  font-weight: 500;
  /*line-height: 1.1;*/
  color: #337ab7;
  font-weight: bold;
  font-size: 30px;
}
#instruction {
  font-weight: 500;
  /*line-height: 1.1;*/
  color: #337ab7;
  /*font-weight: bold;*/
  font-size: 20px;
}

#inter2, #inter3 {
  font-weight: 500;
  /*line-height: 1.1;*/
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}

#questionl1, #questionl2, #questionl3 {

  font-weight: 500;
  /*line-height: 1.1;*/
  color: #000000;
  font-weight: bold;
  font-size: 30px;
}
#PA1, #PA11, #PA2, #PB2, #AB2, #PA3, #PB3, #PC3, #AB3, #AC3, #BC3, #ABC3,#PA22, #PB22, #AB22, #PA33, #PB33, #PC33, #AB33, #BC33, #AC33, #ABC33 {

  font-weight: 500;
  /*line-height: 1.1;*/
  color: #000000;
  font-weight: bold;
  font-size: 16px;
}

#PAl1, #PAl2, #PBl2, #ABl2, #PAl3, #PBl3, #PCl3, #ABl3, #ACl3, #BCl3, #ABCl3, #PA, #P2A, #P2B, #A2B, #P3A, #P3B, #P3C, #A3B, #A3C, #B3C, #A3BC {

  font-weight: 500;
  /*line-height: 1.1;*/
  color: #000000;
  font-weight: bold;
  font-size: 15px;
}
#answerl1, #answerl2, #answerl3,#answerl11, #answerl22, #answerl33, #fdbc1, #fdbc2, #fdbc3 {

  font-weight: 500;
  /*line-height: 1.1;*/
  color: #000000;
  font-size: 20px;
}
#check1,#check2,#check3{

  font-weight: 500;
  /*line-height: 1.1;*/
  color: #000000;
  font-size: 18px;
}
.popover-title {
  color: #000000;
  background-color:#337ab7;
}
#feedback1, #feedback2, #feedback3, #next1, #next2, #next3, #next11, #next22, #next33,#random, #go {

  color: #FFFFFF; 
  background-color: #337ab7; 
  border-color: #2e6da4;
  font-size: 15px;
}